/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
body{
    background-color: #fff;
}

section{
    background-color: #fff;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */

.header{
    background: url('../img/header_fon.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 38px;
}

.logo{
    text-align: center;
}
.header ul{
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header ul li{
    display: inline-block;
}

.header ul li a{
    position: relative;
    display: inline-block;
    margin: 15px 15px;
    outline: none;
    color: #fff;
    font-family: 'Myriad Pro', sans-serif;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 14px;
}


.header ul li a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.header ul li a:hover::after,
.header ul li a:focus::after {
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

#pull{
    display: none;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    position: relative;
    background-color: #535353;
    padding: 20px;
    margin-top: 20px;
}

#pull:after{
    content:'';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 15px;
    background: url('../img/burger.png') no-repeat;
}

.research_img{
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.research_img img{
    margin-right: 10px;
}

.header .slider{
    width: 580px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 320px;
}
.header h3{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-top: 283px;
}

.header h1{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 52px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.header h6{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}

.buttom{
    text-align: center;
    margin: 0 auto;
    width: 170px;
    height: 50px;
    display: block;
    background-color: #998675;
    color: #fff;
    border-radius: 3px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: 55px;
    border-bottom: 3px solid #736357;
    margin-top: 52px;
}

.buttom:hover{
    background-color: #736357;
    -moz-transition: background-color 0.3s 0.1s ease;
    -o-transition: background-color 0.3s 0.1s ease;
    -webkit-transition: background-color 0.3s 0.1s ease;
}


section:nth-child(2){
    background-color: #fff;
    text-align: center;
}

.advantage{
    width: 270px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}

.advantage:first-child{
    margin-right: 15px;
}
.advantage h5{
    font-family:'Myriad Pro', sans-serif;
    font-size: 22px;
    color: #555555;
    font-weight: 300;
}

.advantage p{
    font-family:'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
}

.slide2{
    margin: 0;
    padding: 0;
}

.polosa{
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 70px;
    width: 71px;
    height: 5px;
    background-color: #f1eee9;
}

.advantage_hover{
    position: absolute;
    width: 270px;
    top: 0;
    left: 0;
    display: none;
}

.advantage_hover h5{
    font-family:'Myriad Pro', sans-serif;
    font-size: 22px;
    color: #c7b299;
    font-weight: 300;
}

.polosa_hover{
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 70px;
    width: 71px;
    height: 5px;
    background-color: #c7b299;
}


.advantage:hover .advantage_hover{
    display: inline-block;
}

.slide3{
    overflow: hidden;
    background-color: #fbfaf8;
}

.slide3 h5{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #555555;
    margin-top: 80px;
    margin-bottom: 30px;
}

.slide3 p{
    text-align: center;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    color: #8c8c8c;
    margin: 0 auto;
    margin-bottom: 40px;
}

.slide3 .scrin{
   overflow: inherit;
    max-width: 100%; 
}

.slide3 img{
    -webkit-background-size: cover;
    background-size: cover;
    overflow: inherit;
    max-width: 100%;
}

.gradient{
    background: linear-gradient(to right, #211b19, #4e3427);
}

.gradient h3{
    margin-top: 45px;
    color: #fff;
    font-size: 28px;
}

.gradient h3 span{
    color: #c7b299;
}

.gradient h6{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    color: #615855;
    
}

.gradient .buttom{
    margin-bottom: 45px;
}

.slide4{
    background-color: #fff;
    padding-bottom: 120px;
}



.slide4 h5{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #555555;
    margin-top: 80px;
    margin-bottom: 30px;
}

.slide4 p{
    text-align: center;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    color: #8c8c8c;
    margin: 0 auto;
    margin-bottom: 40px;
}

.slide4_tabs{
    background-color: #fff;
    text-align: center;
}

.tabs_box {
    background-color: #fff;
    

}
 
#tab2, #tab3, #tab4, #tabs5 {
    display: none;
     background-color: #fff;
}
 

 
.tabs_menu {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
}

.tabs_menu ul{
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
}
 
.tabs_menu li {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-right: 9px;
    margin-bottom: 39px;
}

.tabs_menu li:last-child{
    margin-right: 0;
}
 
.tabs_menu li a {
     display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #fff;
    color: #8c8c8c;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 4px 25px;
    border-radius: 3px;
    
}
 
.tabs_menu li:first-child a {
    border-left: 0;
}
 
.tabs_menu .active {
    background: #998675;
    color: #fff;
}

.gallery{
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    width: 370px;
    display: inline-block;
}
.gallery_text{
    background-color: #fbfaf8;
    width: 370px;
    margin: 0 auto;
}

.gallery_text h6{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 20px;
    color: #c7b299;
    text-align: left;
    padding-top: 20px;
    padding-left: 18px;
    margin: 0;
    line-height: 24px;
}

.gallery_text p{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    color: #d1d1d1;
    font-weight: 100;
    text-align: left;
    padding-left: 18px;
    padding-bottom: 27px;
}

.pod_gallery{
    position: absolute;
    top: 0px;
    left: 0;
    width: 370px;
    height: 326px;
    background-color: #262525;
    opacity:0;
    transition: all .50s;
}

.gallery_photo_opacity{
    position: relative;
    height: 237px;
    border-color: #555555;
    opacity: 0.5;
}


.gallery_photo_opacity a{
    display: inline-block;
    margin-top: 120px;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity: 1;
    margin-right: 13px;
    transform: scale(1);
}

.pod_gallery_text{
    width: 370px;
    margin: 0 auto;
}

.pod_gallery_text h6{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    padding-top: 20px;
    padding-left: 18px;
    margin: 0;
    line-height: 24px;
}

.pod_gallery_text p{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    color: #c7b299;
    font-weight: 100;
    text-align: left;
    padding-left: 18px;
    padding-bottom: 27px;
}

.gallery:hover .pod_gallery{
    opacity:0.8;
}

.gallery_photo_opacity a:hover{
    transform: scale(1.5);
    transition: all .50s;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity: 1;
}


.video{
    background: url('../img/video_fon.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}

.video img{
    margin-top: 199px;
    margin-bottom: 42px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}


.video img:hover{
    
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.video h4{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 28px;
    font-weight: 100;
}

.video span{
    display: block;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    color: #c7b299;
    margin-top: 19px;
    margin-bottom: 194px;
}

.video p{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}



.slide5{
    background-color: #fbfaf8;
    padding-top: 79px;
}

.slide5 .phone{
    text-align: center;
    margin: 0 auto;
}

.slide5 h3{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 30px;
    color: #555555; 
    margin-left: 20px;
}

.slide5 p{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    margin-left: 20px;
}

.slide5 ul{
    margin-top: 60px;
    margin-bottom: 60px;
}

.slide5 ul li{
    list-style: none;
    background: url('../img/icon_li.png') no-repeat;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    color: #8c8c8c;
    padding-left: 46px;
    padding-bottom: 10px;
}


.slide6{
    background: linear-gradient(to right, #211b19, #4e3427);
    text-align: center;
    margin: 0 auto;
    padding-top: 67px;
}

.slide6 .number{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-right: 68px;

}

.slide6 .number:last-child{
   margin-right: 0; 
}

.slide6 span{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    color: #c7b299;
}

.slide6 .polosa{
    width: 30px;
    height: 2px;
    background-color: #fff;
}

.number p{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 48px;
    line-height: 36px;
    color: #fff;
    font-weight: 100;
    margin-top: 20px;
}


.slide7{
    background-color: #fff;
    padding-bottom: 69px;
    
}

.slide7 h5{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 30px;
    color: #555;
    margin-bottom: 27px;
    margin-top: 75px;
    text-align: center;
}

.slide7 .opis{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    color: #8c8c8c;
    line-height: 28px;
    margin-bottom: 27px;
    text-align: center;
}


.post{
/*
   width: 360px;
   height: 400px;
*/
   display: inline-block;
    margin-right: 25px;
    position: relative;
    padding-right: 25px;
}

.post:last-child{
    padding-right: 0;
}

.post .image1{
    height: 219px;
    background: url('../img/post_image1.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 21px;
}

.post .image2{
    height: 219px;
    background: url('../img/post_image2.png') no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
    padding-top: 21px;
}

.post .image3{
    height: 219px;
    background: url('../img/post_image3.png') no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
    padding-top: 21px;
}
.post .image1 .data,
.post .image2 .data,
.post .image3 .data{
    width: 53px;
    height: 61px;
    margin-left: 20px;
    cursor: pointer;
    text-align: center;
}

.post .image1 .data .data_number,
.post .image2 .data .data_number,
.post .image3 .data .data_number{
    background-color: #363636;
    height: 35px;
    border-radius: 5px 5px 0px 0px;
}

.post .image1 .data .data_number span,
.post .image2 .data .data_number span,
.post .image3 .data .data_number span{
     font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 35px;
    
}

.post .image1 .data .data_mounth,
.post .image2 .data .data_mounth,
.post .image3 .data .data_mounth{
    height: 27px;
    background-color: #252525;
    border-radius: 0px 0px 5px 5px;
}

.post .image1 .data .data_mounth span,
.post .image2 .data .data_mounth span,
.post .image3 .data .data_mounth span{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 25px;
}

.post .post_text{
    width: 100%;
    height: 174px;
    text-align: left;
    padding-top: 30px;
    padding-left: 28px;
    border: 1px solid #dbd9d9;
    box-sizing: border-box;
}

.post .post_text h6{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 20px;
    color: #555;
    text-align: left;
}

.post .post_text p{
    font-family: 'Myraid Pro', sans-serif;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 22px;
    margin-bottom: 17px;
}

.post .post_text a{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
}


.post_hover{
    position: absolute;
/*
    width: 360px;
    height: 400px;
*/
    opacity: 0;
    text-outline: 0;
    left: 0;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
    
}

.post_hover .image1_hover{
    width: 100%;
    height: 219px;
    background-color: #362f2d;
    opacity: 0.7;
    position: relative;
    padding-top: 21px;
}

.post_hover .image1_hover .data_hover{
    width: 53px;
    height: 61px;
    margin-left: 20px;
    cursor: pointer;
    text-align: center;
}

.post_hover .image1_hover .data_hover .data_number_hover{
    background-color: #c7b299;
    height: 35px;
    border-radius: 5px 5px 0px 0px;
}

.post_hover .image1_hover .data_hover .data_number_hover{
     font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 35px;
    
}

.post_hover .image1_hover .data_hover .data_mounth_hover{
    height: 27px;
    background-color: #a48d72;
    border-radius: 0px 0px 5px 5px;
}

.post_hover .image1_hover .data_hover .data_mounth_hover span{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 25px;
}

.post_hover .post_text_hover{
    width: 100%;
    height: 174px;
    text-align: left;
    padding-top: 30px;
    padding-left: 28px;
    border: 1px solid #362f2d;
    box-sizing: border-box;
    background: #362f2d;
}

.post_hover .post_text_hover h6{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 20px;
    color: #c7b299;
    text-align: left;
}

.post_hover .post_text_hover p{
    font-family: 'Myraid Pro', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 22px;
    margin-bottom: 17px;
}

.post_hover .post_text_hover a{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
}

.post:hover .post_hover{
    opacity: 1;
}


.slide8{
    text-align: center;
    background: url('../img/logo_fon.png') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 138px;
}

.slide8 img{
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 130px;
}

.slide8 img:last-child{
    margin-right: 0;
}

.footer{
    background-color: #191919;
    padding-top: 80px;
    padding-bottom: 60px;
}

.footer .col_footer{
    width: 238px;
}

.footer p{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    margin-top: 28px;
    margin-bottom: 20px;
}

.footer .col_footer a{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
    margin-top: 20px;
}


.footer h3{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 29px;
}

.col-footer-one{
    border-bottom: 1px solid #555555;
}

.col-footer-two{
    padding-top: 20px;
    border-bottom: 1px solid #555555;
}

.col-footer-three{
    padding-top: 20px;
}

.col-footer-three span{
    color: #fff;
     font-family: 'Myriad Pro', sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.col-footer-two span{
    color: #fff;
     font-family: 'Myriad Pro', sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.col-footer-two p{
    margin-top: 0;
    color: #c7b299;
}

.col-footer-three p{
    margin-top: 0;
}

.blue{
    color: #00bff3;
}

.time{
    color: #363636;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.col-footer-one_two{
    border-bottom: 1px solid #555555;
}

.col-footer-one_two p{
    margin-bottom: 0;
    margin-top: 15px;
    
}

.col-footer-three_three{
    color: #555555;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.text{
    color: #959595;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 20px;
}


.col-footer img{
    display: inline-block;
    width: 120px;
    height: auto;
    margin-bottom: 11px;
    
}

.col-footer_img1 img{
    display: inline-block;
    margin-right: 10px;
}

.col-footer_img1 img:last-child{
    margin-right: 0;
}


.col-footer_img2 img{
    display: inline-block;
    margin-right: 10px;
}

.col-footer_img2 img:last-child{
    margin-right: 0;
}

.footer_end{
    background-color: #111111;
    padding-top: 43px;
    padding-bottom: 40px;
}


.footer_end ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_end ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.footer_end ul li{
    border-right: 1px solid #555555;
    line-height: 20px;
    font-size: 13px;
    font-family: 'Myriad Pro', sans-serif;
}

.footer_end_text{
    color: #959595;
    font-weight: bold;
}

.footer_end ul li:last-child{
    border-right: none;
}

.footer_end .left{
    text-align: left;
}

.footer_end .right{
    text-align: right;
}









@media (max-width: 992px){
    .header ul{
        display: none;
    }
    
    #pull{
        display: block;
    }
    .header ul li{
        display: block;
        text-align: left;
    }
    .header ul li a{
        display: block;
        padding: 10px;
        font-size: 16px;
    }
    .research_img{
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-top: 30px;
}
    .col-sm-12{
        margin: 0;
        padding: 0;
    }

    
    .header h3{
        margin-top: 150px;
    }
    
    .header .slider{
        width: 380px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 120px;
}
    .gradient{
        margin: 0 auto;
        text-align: center;
    }
    
   .footer .col_footer{
        width: 100%;
    }
    
    .footer .col-footer{
        text-align: center;
    }
    
    .footer_end ul{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 742px){
    .gallery{
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    width: 370px;
    display: block;
}
}